<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}Add Data-CRUD App using Python 3 Flask{% endblock %}</title>
    <link rel="stylesheet" href={{ url_for('static', filename = 'css/bootstrap.min.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename = 'css/newuser.css') }}>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <div class="container">
      <h1 class="jumbotron">Add Data-CRUD App using Python 3 Flask</h1>
      <a href = {{ url_for('index') }} class="btn btn-success">Home</a>
      <div id="blank"></div>
      <fieldset class="scheduler-border">
        <legend class="scheduler-border">Create New User</legend>
        <form method = "POST">
          Name: &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="name" class="form-control"/><br/><br/>
          Password:<input type="password" name="age" value="" class="form-control"/><br/>
          <input type="submit" name="submit" value="Create New User" class="btn btn-primary"/>
          <input type="reset" name="reset" value="Cancel" class="btn btn-danger">
        </form>
      </fieldset>
      <div class="blank"></div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class="alert alert-success alert-dismissible">
        {% for message in messages %}
        <li ><strong>Success !&nbsp;</strong>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}

      </div>
      <script src={{url_for('static', filename = 'js/jquery-3.3.1.min.js')}} charset="utf-8"></script>
      {% endblock %}
  </body>
</html>
